@page "/inventoryLog"

<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar title">Inventory Log</h1>
    <select class="dropDown" @bind="_value" @onclick="() => SortByMonth()">
        <option value="" selected>Sort By Month</option>
        <option value="Jan">January</option>
        <option value="Feb">February</option>
        <option value="Mar">March</option>
        <option value="Apr">April</option>
        <option value="May">May</option>
        <option value="Jun">June</option>
        <option value="Jul">July</option>
        <option value="Aug">August</option>
        <option value="Sep">September</option>
        <option value="Oct">October</option>
        <option value="Nov">November</option>
        <option value="Dec">December</option>
    </select>
    </nav>
<table class="table">
    <thead class="table-header">
        <tr>
            <th>
                <div class="d-flex">
                    Items
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Quanity
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Approved By
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Taken By
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Date Taken Out
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            // Read list of requested items to be used in foreach.
            IEnumerable<RequestItems> requestItemList = _requestItem;
            foreach (var requestItem in requestItemList)
            {
                <tr>
                <td >@requestItem.ItemName</td>
                <td >@requestItem.QuantityTaken</td>
                    <td>
                    
                    @{
                        var creator = UserService.GetById(requestItem.ApprovedBy);
                        <span>@(creator == null ? "Unknown" : creator.Username)</span>
                    }
                    </td>
               <td>
               @requestItem.TakenBy
               </td>
               <td>@requestItem.DateTakenOut.ToString("MMM dd, yyyy")</td>
            </tr>
            }
        }
    </tbody>
</table>



@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }
    private List<RequestItems> _requestItem { get; set; }
    private string _value{ get; set; }

    protected override void OnInitialized()
    {
        _requestItem = RequestItemService.GetAll();
    }

    // Sorting requested items according to month of year
    void SortByMonth()
    {
        if(string.IsNullOrEmpty(_value)){
            _requestItem = RequestItemService.GetAll();
        }
        else{
            _requestItem = RequestItemService.GetAll().Where(s => s.DateTakenOut.ToString("MMM").Contains(_value)).ToList();
        }
    }
}
