@page "/inventoryLog"

<nav class="navbar navbar-light bg-light justify-content-between">
    <h1 class="navbar-brand mb-0 h1">Inventory Log</h1>
    <select @bind="value"  oncliconclick="SortByMonth()">
        <option selected>Sort By Month</option>
        <option value="jan">January</option>
        <option value="feb">February</option>
        <option value="mar">March</option>
        <option value="apr">April</option>
        <option value="may">May</option>
        <option value="jan">June</option>
        <option value="jul">July</option>
        <option value="aug">August</option>
        <option value="sep">September</option>
        <option value="oct">October</option>
        <option value="nov">November</option>
        <option value="dec">December</option>
    </select>
   
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="d-flex">
                    Items
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Quanity
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Approved By
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Taken By
                </div>
            </th>
            <th>
                <div class="d-flex">
                    Date Taken Out
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<RequestItems> requestItemList = _requestItem;
            foreach (var requestItem in requestItemList)
            {
                <tr>
                <td >@requestItem.ItemName</td>
                <td >@requestItem.QuantityTaken</td>
                    <td>
                    
                    @{
                        var creator = UsersService.GetById(requestItem.ApprovedBy);
                        <span>@(creator.Username)</span>
                    }
                    </td>
               <td>
               @requestItem.TakenBy
               </td>
               <td>@requestItem.DateTakenOut.ToString("MMM dd, yyyy")</td>
            </tr>
            }
        }
    </tbody>
</table>



@code {
    [CascadingParameter]
    private GlobalState _globalState { get; set; }

    private List<RequestItems> _requestItem { get; set; }

    private List<Items> _items{ get; set; }

    private string value{ get; set; }

    protected override void OnInitialized()
    {
        _requestItem = RequestItemService.GetAll();
    }

    private void SortByMonth(){
        IEnumerable<Items> itemList = _items;
        if(value == "jan"){
            itemList = itemList.OrderBy(t => t.LastTakenOut);
        }
    }
}
